*.lst
*.log
*.sym
*.chd
*.iso
out/
/original/disc-images/
/original/japan/*
!/original/japan/.gitkeep
/original/usa/*
!/original/usa/.gitkeep
/original/europe/*
!/original/europe/.gitkeep
src/_SonLVL/dllcache
src/Special Stage/Stage Data Labels.inc
src/Special Stage/Stage Data.bin
src/DA Garden/Track Title Labels.inc
